@import 'mixins';

.wrapper {
  padding: 12px 80px;
}

.article {
  border-bottom: 1px solid lightgrey;
  box-shadow: 2px 4px 26px #c2c5d0;
  border-radius: 6px;
}

.title {
  @include flexBox(space-between);
  padding: 10px 24px 10px 10px;

  &:hover {
    background: #f2f2f3;
    cursor: pointer;
  }

  h2 {
    width: 92%;
    font-size: 36px;
    font-weight: 500;
    overflow: hidden;
  }
}
.arrowWrapper {
  margin-bottom: 6px;
}
.arrow {
  width: 16px;
  height: 16px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  transform: rotate(45deg);
}

.open .arrowWrapper {
  margin: 6px 0 0;
}

.open .arrow {
  transform: rotate(225deg);
}

.content {
  padding: 10px;
  font-size: 16px;
  white-space: pre-wrap;
}

.deleteArticle {
  padding: 10px;
  text-align: right;
  color: lightgrey;
  
  span {
    cursor: pointer;
    
    &:hover {
      color: grey;
      text-decoration: underline;
    }
  }
}
