@import 'mixins';

.wrapper {
  padding: 0 150px;
  background-color: #f2f2f3;
}

.header {
  margin-bottom: 12px;
  padding-top: 20px;  
}

textarea {
  margin-bottom: 10px;
  padding: 12px;
  width: 97%;
  border-radius: 10px;
}

.articleName {
  margin-bottom: 10px;
  height: 44px;
}

.articleContent {
  height: 170px;
}

.button {
  @include flexBox(space-between);
  position: relative;
  padding-bottom: 20px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background: lightgrey;
  }
}

.error {
  color: red;
  font-style: italic;
}
